* {
    text-align: start;
}
button {
    text-align: center;
    padding: 10px 60px 10px 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
}