* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    padding: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
}
section {
    box-sizing: border-box;
    width: 900px;
    padding: 30px;
    background-color: #99999c73;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 2px #6e6d6a8f;
}
h5 {
    font-family: 'Poppins', sans-serif;
}
